<header class="w3-container w3-teal">
  <h1>New Workout</h1>
</header>

<div class="w3-container w3-half w3-margin-top">
<form action="/workouts" method="post">
  <p>
    <label for="title">Title:</label>
    <input class="w3-input" type="text" name="title" />
  </p>
  <p>
    <label for="date">Date:</label>
    <input class="w3-input" type="text" name="date" />
  </p>
  <p>
    <label for="duration">Duration(min):</label>
    <input class="w3-input" type="text" name="duration" />
  </p>
  <p>
    <label>Exercise(s)</label>
    <% Exercise.all.each do |exercise| %>
      <input class="w3-check" id="<%= exercise.name %>" type="checkbox" name="exercises[]" value="<%= exercise.id %>"/>
      <label><%= exercise.name %></label>
    <% end %>
  </p>
  <p>
    <label for="exercise">and/or Add New Exercise:</label>
    <input class="w3-input" type="text" name="exercise" />
  </p>
  <p>
    <label for="note">Note:</label>
    <textarea class="w3-input" name="note"></textarea>
  </p>
  <input class="w3-button w3-section w3-teal w3-ripple" type="submit" value="Create" />
</form>

</div>
