<h1>New Exercise</h1>

<form action="/workouts" method="post">
  <p>
    <label for="title">Title:</label>
    <input type="text" name="title" />
  </p>
  <p>
    <label for="date">Date:</label>
    <input type="text" name="date" />
  </p>
  <p>
    <label for="duration">Duration(min):</label>
    <input type="text" name="duration" />
  </p>
  <p>
    <label>Exercise(s)</label>
    <% Exercise.all.each do |exercise| %>
      <input id="<%= exercise.name %>" type="checkbox" name="exercises[]" value="<%= exercise.id %>"/>
    <% end %>
  </p>
  <p>
    <label for="exercise">and/or Add New Exercise:</label>
    <input type="text" name="exercise" />
  </p>
  <p>
    <label for="note">Note:</label>
    <textarea name="note"></textarea>
  </p>
  <input type="submit" value="Create" />
</form>

