<header class="w3-container w3-teal">
  <h1>Welcome to Workout Tracker</h1>
</header>

<div class="w3-container">
  <a class="w3-button w3-section w3-teal w3-ripple" href="/signup">SignUp</a> or <a class="w3-button w3-section w3-teal w3-ripple" href="/login">LogIn</a>
</div>
