<<<<<<< HEAD
<header class="w3-container w3-teal">
  <h1>Welcome to Workout Tracker</h1>
</header>

<div class="w3-container">
  <a class="w3-button w3-section w3-teal w3-ripple" href="/signup">SignUp</a> or <a class="w3-button w3-section w3-teal w3-ripple" href="/login">LogIn</a>
</div>
=======
<h1>Welcome to Workout Tracker</h1>

<div>
<h3><a href="/signup">SignUp</a></h3> | <h3><a href="/login">LogIn</a></h3>
</div>
>>>>>>> 171eec4562459fba1ab3c037033c39c6d7f49da6
